# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Pipenv
.venv/
env/
venv/

# Output files
*.md
!README.md

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Tailwind Build
app/static/css/output.css

# Node
node_modules/

# Logs
logs/
*.log